@import "/src/index.css";


.about{
    height: 100vh;
    padding: 0px 10rem;
    margin: auto;
    font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    position: relative;

}

.header{
    position:sticky;
    top: 0;
    background-color: #ffffff;
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.image{
    height: 25px;
    width: 25px;
    margin-right: 8px;
}
.logo_name{
    font-size: 1.7rem;
    font-family: "Leckerli One";
    color: #201564;
}

/*color:#FCFCFC;
text-shadow: 2px 0px 0px #E25283;
-webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: #201564;*/

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}

.link{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    padding-right: 1rem;
}

.link_free{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 1rem;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px;
    background-color:#2DE864;
    border: 1px #22B14C ;
}

.link_free:hover{
    border: 1px #22B14C solid;
    background-color:transparent;
}
.link_free:active{
    box-shadow: 5px 5px 15px grey;
}
.link:hover{
    font-weight: 600;
    transition: all .5s ease;
}



.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    width: 100%;
   
}


.main_left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.content{
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

.save{
    font-weight: 400;
    font-size: 1.4rem;
}

.main_img{
display: flex;    
}
/*feature section*/

.feature{
   padding: 20px;
    margin-top: 150px;
    padding: 1px -350px;
    background-color:#004c3f;
    color: #f8fbf5;
}

.feature_title{
    font-size: 2rem;
}
.features_list{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    padding-bottom: 40px;
}
.card_icon{
   font-size: 2rem;
}

.card_h1{
    font-size: 1.5rem;
    padding-bottom: 1px;
    text-transform: capitalize;
}

.card_h2{
    font-size: 1rem;
    font-weight: 200;
}

.footer{
   display: flex;
   margin-top:30px;
    background-color: #004c3f;
    height: 50px;
    align-items: center;
    padding-left:20px;
    color: #f8fbf5;
}

.footer_icon {
    padding-right: 40px;
    cursor: pointer;
}

.more_feature{
    display: flex;
    margin: 50px 0px;
}
.video{
    outline: none;

}
.dash_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 300px;
}
.dash_div_h1{
 font-weight:800;
}

@media screen and (max-width:1000px) {
    .about{
        padding: 0;
    }
    .logo_name{
        display: none;
    }

    .main_img{
    display: none;
    }
    
}