body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-hover:#6d6c6c;
  --color-border-grey:#DEDEDE;
  --color-background:#333335;
  --color-active:#53539f;
}

.dashBoard{
  display: flex;
  gap: 10px;
  position: relative;
}

.wrapper{
z-index: 2000;  
  margin: 0px ;
  width: 176px;
  transition: margin 1s ease;
}

.wrapper-close{
  transition: margin 1s ease;
  width: 176px;
  margin: 0 0  0 -165px;
}
.sidebar{
  position:fixed;
  display: flex;
  height: 100vh;
}

.open-nav-icon-close{
  font-size: 0px;
  transition: font-size 1s ease ;

}
.open-nav-icon{
  position: absolute;
  top: 15px;
  left: 5px;
  background-color: #808080;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: aliceblue;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  font-size: x-large;
  transition: font-size 1s ease ;
  z-index: 3;
  position: fixed; 
}
 #nav-ul{
  margin: 0%;
  padding: 10px;
  background-color: #333335;
  height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-icon{
  font-size: 1.5em;

}


.head-logo{
  display: flex;
  height: 30px;
  font-size: large;
  color: antiquewhite;
 justify-items: center;
}
.head-logo h4{
  justify-content: center;
  margin: auto;
  padding-bottom: 10px;
}
.divider{
  background-color:rgb(217, 207, 207);
  height: .1px;
  margin: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.nav-item{
  display: flex;
  padding: 5px;
  border-radius: 10px;
  justify-content:flex-start;
  margin: 10px;
  padding: 5px;

}
.nav-item:hover{
  background-color:rgb(111, 110, 109);
  cursor: pointer;
}
.nav-item-active{
  background-color:var(--color-active);
  display: flex;
  border-radius: 10px;
  justify-content:flex-start;
  margin: 10px;
  padding: 5px;
}

.nav-item-active:hover{
  cursor: pointer;
}
.nav-item-a{
  text-decoration: none;
  color: rgb(205, 202, 202);
  display: flex;
  justify-content: center;
  font-size: large;
}
.icon{
  color: rgb(205, 202, 202);
  font-size: 18px;
  margin: auto;
  padding-right:5px ;
  padding-top: 1px;
}

.log-out-div{
  display: flex;
  padding: 5px;
  padding-top: 120%;  
}

.log-out-a{
  text-decoration: none;
  color: rgba(240, 255, 255, 0.176);
  padding-bottom: 15px;
}
 .log-icon{
  justify-content: center;
  display: inline; 
}

.icon-log-out{
  padding-right: 4px;
 
}


.dashboard-view{
 margin-top: 15px;
 margin-left: 5px;
 min-width: 400px;
 flex: 2;
}


.dash-view-home{
  height: 100vh;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-left:15px ;
}

.dash-post{
  display: flex;
  min-width: 400px;
  height: 100vw;
  margin-top: 15px;
  margin-right: 15px;
}
.dash-post-float-boaton{
  display: none;
  position: fixed;
  align-self: auto;
  justify-content: center;
  font-size: 2rem;
  bottom: 15px;
  right:15px;
  color: antiquewhite;
  background-color:  rgb(83, 83, 159);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 3;
  box-shadow: 10px 10px 15px  #333335 ;
  transition: all .5s ;
}

.dash-post-float-boaton:hover,.dash-post-float-boaton-active:hover{
  cursor: pointer;
}

.dash-post-float-boaton-active{
  transform: rotate(45deg);
  transition: all .5s ;
  display: none;
  position: fixed;
  align-self: auto;
  justify-content: center;
  font-size: 2rem;
  bottom: 15px;
  right:15px;
  color: antiquewhite;
  background-color:  rgb(83, 83, 159);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 3;
  box-shadow: 10px 10px 15px  #333335 ;
}


.dash-post-alert{
  max-width: 20rem;
  min-width: 400px;
  position: absolute;
  top: 5vh;
  left: 20vw;
  padding: 15px;
  border-radius: 15px;
  background-color:#edebeb;
}
.search-section{
  margin-left: 30px;
  margin-top: 20px;
}

.search-section-form{
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
 
}

.search-section-form input[type=text]{
  height: 1.8rem;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0px;
  font-size: 2vh;
  background-color: rgb(246, 241, 241);
}

.search-section-form select{
  color: gray;
  height: 1.8rem;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0px;
  font-size: 2vh;
  outline: none;
  background-color: rgb(246, 241, 241);
}

.search-section-form input[type=text]:focus{
  outline: none;
  border: 1px solid rgb(142, 12, 34) ;
  border-bottom: 3px solid rgb(142, 12, 34);
  height: 1.8rem;
  margin-right: 5px;
}

.search-section-button{
  width: calc(100%/2);
  height: 1.8rem;
  box-shadow: 0px;
  color: blueviolet;
  border-radius: 5px;
  border: 0px;
  font-size: 2vh;
  background-color: rgb(246, 241, 241);
  padding-bottom:5px ;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.search-section-button:hover{
  cursor: pointer;
  background-color: rgb(169, 169, 234);
  box-shadow: 5px 5px 5px -5px #333335;
  transition:  all .7s ease;
}

.serch-result-section{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tweet-card{
 min-width: 300px;
 max-width: 400px;
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 5px;
  margin: 10px;
  border:1px solid #DEDEDE;
  position: relative;
}

/*.tweet-card:hover{
  cursor: pointer;
  background-color:#F5F5F5;
}*/

.tweet-head{
  display: flex;
  overflow: hidden;
}

.tweet-avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 5PX;
}

.tweet-avatar img{
  width: 45px;
  height: 45px;
  border-radius: 50%;

}

.tweet-body{
  margin: 7px;
  
}

.tweet-display-name{
  font-weight: 500;
}

.tweet-user-name{
  color:grey;
  font-weight: 200;
  font-size: .8rem;
  padding-left: 3px;
}
.tweet-created-ago{
  font-size: .7rem;
  font-weight: 200;
  padding-left: 5px;
}
.tweet-created-ago::before{
content: '·';
}
.tweet-actions{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
}

.tweet-button{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 45px;
 width: 45px;
}
.tweet-button:hover{
  cursor: pointer;
  background-color:#f7f3f3;
  border-radius: 50%;
}
.icon-number{
  font-size: .7rem;
  color: grey;
  padding-left:5px ;
}


.alert{
  background-color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 13;
  position: absolute;
  top:1;
  border-radius: 5%;
}

.alert-enter {
  opacity: 1;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 1s, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 1s, transform 300ms;

}

.replay-custom-card{
  border: 1px solid gray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  min-width: 300px;
  max-width: 400px;
  height: 200px;
  border-radius: 5%;
  box-shadow: 5px 5px 15px  -5px #333335;
}



.input-reply{
  padding: 15px;
  min-width:300px;
  height: 80%;
  outline: none;
  border: none;
  border-radius: 5%;
  max-lines: 5;
  resize:none;
  overflow: hidden;
}
.alert-actions{
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.send-button{
  background-color: var(--color-active);
  padding:5px 18px;
  border-radius: 5px;
  color: #DEDEDE;
}

.discard-button{
  background-color: rgb(228, 41, 82);
  padding:3px 10px;
  border-radius: 5px;
  color: #DEDEDE;
}

.dash-post{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  height: 100%;
}
.dash-post-alert{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.dash-post-header{
  margin-bottom: 10px;
}
.dash-post-select{
  color: gray;
  width: 100%;
  height: 1.8rem;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0px;
  font-size: 2vh;
  outline: none;
  background-color: rgb(246, 241, 241);
}


.dash-post-area{
  margin-top: 10px;
  resize: none;
  height: 75vh;
  border-radius: 5px;
  border:2px solid #DEDEDE;
  background-color: rgba(255, 255, 255, 0.486);
  overflow-y: scroll;
}

.dash-post-actions{
  display: flex;
  background-color: #DEDEDE;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
   margin:5px 0px ;
}

.dash-post-actions .button{
  background-color: var(--color-active);
  border-radius: 10px;
  padding:5px 25px ;
  height: 22px;
  color: #DEDEDE;
}
.dash-post-actions .button-sechudele{
  background-color: var(--color-active);
  border-radius: 10px;
  margin-right: 5px;
  padding:5px;
  height: 22px;
  color: #DEDEDE;
}
.dash-post-actions .button:hover,.button-sechudele:hover{
  cursor: pointer;
  background-color: rgb(26, 26, 88);
}
.dash-post-actions .photo-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color:#edebeb;
  background-color: var(--color-hover);
}
.dash-post-actions .photo-button:hover,.dash-post-actions .add-button:hover{
  cursor: pointer;
  background-color:var(--color-active);
  
}
.dash-post-actions input{
  display: none;
}
.dash-post-actions .add-button{
  background-color:var(--color-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  color:#edebeb;
}

.image-container{
  width: 100px;
  height: 100px;
  border-radius: 15px;
 align-self: flex-end; 
 position: relative;
}
.post-image{
  width: 100px;
  height: 100px;
  border-radius: 15px;

}
.delete-image{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #333335;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--color-border-grey);
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  transform: rotate(45deg);
}
.delete-image:hover{
  cursor: pointer;
}
.new-tweet-div{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
.new-tweet-divider{
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 2px;
  background-color:var(--color-border-grey);
}
.new-tweet-text-area{
  overflow: hidden;
  outline: none;
  padding-bottom: 10px;
  padding-right: 5px;
  border: 0px;
  max-width: 90%;
  columns: 10;
  resize: none;
  font-size: larger;
}



@media screen and (max-width:1000px){
 
  .dashboard-view ,.sidebar ,.wrapper-close,.open-nav-icon-close{
    display: none;
  }

  .dash-post-float-boaton , .dash-post-float-boaton-active {
    display: flex;
  }

.dash-post{
  width: 100vw;
  max-width:100%;
}
  .search-query{
    margin-left: 60px;
    margin-top: 35px;
  }
  
}

@media screen and (max-width:380px) {
 .serch-result-section, .dash-view-home{
    padding-left: 30px;
    padding-top: 15px;
  }
 }


