body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashBoard{
  display: flex;
  gap: 10px;
  position: relative;
}

.wrapper{
  
  margin: 0px ;
  width: 176px;
  transition: margin 1s ease;
}

.wrapper-close{
  transition: margin 1s ease;
  width: 176px;
  margin: 0 0  0 -165px;
}
.sidebar{
  position:fixed;
  display: flex;
  height: 100vh;
}

.open-nav-icon-close{
  font-size: 0px;
  transition: font-size 1s ease ;

}
.open-nav-icon{
  position: absolute;
  top: 15px;
  left: 5px;
  background-color: grey;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: aliceblue;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  font-size: x-large;
  transition: font-size 1s ease ;
  z-index: 3;
  
}
 #nav-ul{
  margin: 0%;
  padding: 10px;
  background-color: #333335;
  height: 100vh;
  width: 150px;
}

.close-icon{
  font-size: 1.5em;
}


.head-logo{
  display: flex;
  height: 30px;
  font-size: large;
  color: antiquewhite;
 justify-items: center;
}
.head-logo h4{
  justify-content: center;
  margin: auto;
  padding-bottom: 10px;
}
.divider{
  background-color:rgb(217, 207, 207);
  height: .1px;
  margin: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.nav-item{
  display: flex;
  padding: 5px;
  border-radius: 10px;
  justify-content:flex-start;
  margin: 10px;
  padding: 5px;

}
.nav-item:hover{
  background-color:rgb(111, 110, 109);
  cursor: pointer;
}
.nav-item-active{
  background-color: rgb(83, 83, 159);
  display: flex;
  border-radius: 10px;
  justify-content:flex-start;
  margin: 10px;
  padding: 5px;
}

.nav-item-active:hover{
  cursor: pointer;
}
.nav-item-a{
  text-decoration: none;
  color: rgb(205, 202, 202);
  display: flex;
  justify-content: center;
  font-size: large;
}
.icon{
  color: rgb(205, 202, 202);
  font-size: 18px;
  margin: auto;
  padding-right:5px ;
  padding-top: 1px;
}

.log-out-div{
  display: flex;
  padding: 5px;
  padding-top: 120%;  
}

.log-out-a{
  text-decoration: none;
  color: rgba(240, 255, 255, 0.176);
}
 .log-icon{
  justify-content: center;
  display: inline; 
}

.icon-log-out{
  padding-right: 4px;
}


.dashboard-view{
 margin-top: 15px;
 margin-left: 5px;
 min-width: 400px;
 flex: 2;
}


.dash-view-home{
  height: 100vh;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-left:15px ;
}

.dash-post{
  display: flex;
  min-width: 350px;
  height: 100vw;
  background-color: aqua;
  margin-top: 15px;
  margin-right: 15px;
}
.dash-post-float-boaton{
  display: none;
  position: fixed;
  align-self: auto;
  justify-content: center;
  font-size: 2rem;
  bottom: 15px;
  right:15px;
  color: antiquewhite;
  background-color:  rgb(83, 83, 159);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 3;
  box-shadow: 10px 10px 15px  #333335 ;
}



.search-section{
  margin-left: 30px;
  margin-top: 20px;
}

.search-section-form{
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
}

.search-section-form input{
  height: 1.6rem;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(246, 241, 241);
}

.search-section-form select{
  height: 1.6rem;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0px;
  outline: none;
  background-color: rgb(246, 241, 241);
}

.search-section-form input[type=text]:focus{
  outline: none;
  border: 1px solid rgb(142, 12, 34) ;
  border-bottom: 3px solid rgb(142, 12, 34);
}

.search-section-button{
  width: calc(100%/4);
  box-shadow: 0px;
  color: blueviolet;
  padding: 5px;
}

.search-section-button:hover{
  cursor: pointer;
  background-color: rgb(169, 169, 234);
  box-shadow: 5px 5px 5px -5px #333335;
  transition:  all .7s ease;
}

.serch-result-section{
  background-color: blue;
  height: 100vh;
  margin-top: 10px;
}



@media screen and (max-width:1000px){
  .dash-post{
    display: none;
  }

  .dash-post-float-boaton{
    display: flex;
  }

  .search-query{
    margin-left: 60px;
    margin-top: 35px;
  }
  
}

@media screen and (max-width:400px) {
 .serch-result-section, .dash-view-home{
    padding-left: 35px;
    padding-top: 15px;
  }


}